@import "tailwindcss";

#reg {
    background-image: url('/Images/background1.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


#reg-btn{
    background-color: orange;
    font-weight: 600;
    border: none;
}

#reg-heading{
    background-image: radial-gradient(
        circle farthest-corner at -1.2% 43.9%, 
        rgba(252,146,32,1) 16.1%, 
        rgba(255,4,4,1) 74.3%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* For modern browsers */
    color: transparent;  }
